/* 1. Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* 3. Body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Work Sans", sans-serif;
}

/* 4. Remove list styles */
ul,
ol {
  list-style: none;
}

/* 5. Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Buttons look clickable */
button {
  background: none;
  border: none;
  cursor: pointer;
}

:root {
  /* Brand */
  --main-color: #10cab7;
  --secondary-color: #2c4755;

  /* Background */
  --clr-white: #ffffff;
  --clr-section-bg: #f6f6f6;
  --clr-hover-bg: #f0f0f0;
  --clr-decor-bg: #ebeced;

  /* Text */
  --clr-text-dark: #333333;
  --clr-text-muted: #777777;
  --clr-text-light-muted: #797979;

  /* Border */
  --clr-border-light: #eeeeee;

  /* Shadow */
  --shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.05);
  --main-duration: 0.5s;

  /* Font Sizes */
  --fs-hero: clamp(2.2rem, 5vw, 3.125rem);
  --fs-section-title: clamp(1.8rem, 4vw, 2.2rem);
  --fs-large: clamp(1rem, 1.1rem, 1.2rem);
  --fs-body: clamp(0.75rem, 0.8rem, 1rem);

  /* Spacing */
  --space-section: clamp(2rem, 5vw, 4rem);
  --space-gap: clamp(1rem, 3vw, 2rem);
  --small-space: clamp(1rem, 1.1rem, 1.3rem);
  --small-gap: 1rem;
  --x-small-gap: 0.5rem;
  --mobile-gap: 1.5rem;
}
/* untilities */
.features-container,
.portfolio-container,
.contact-container {
  background-color: var(--clr-section-bg);
}
.features-container,
.services-container,
.portfolio-container,
.about-container,
.contact-container {
  padding: var(--space-section) 0;
}

.features,
.services-content,
.portfolio-content {
  justify-content: space-around !important;
}

h1 {
  font-weight: 900;
  font-size: var(--fs-hero);
  color: var(--main-color);
}

h2 {
  font-weight: 800;
  font-size: var(--fs-section-title);
}

h3 {
  font-weight: 700;
  font-size: var(--fs-large);
}

p {
  font-weight: 400;
  line-height: 1.8;
  font-size: var(--fs-body);
}

.feature-card p,
.portfolio-card p,
.about-content p {
  color: var(--clr-text-muted);
}

.services-text p {
  color: var(--clr-text-dark);
}

/* ===== Header ===== */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-white);
  position: relative;
  padding: var(--small-space);
}

/* Logo */
header img {
  width: 70px;
}

/* Hamburger */
#menu-toggle {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 2;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}

#menu-toggle:checked + .hamburger span:nth-child(2) {
  width: 100%;
}

/* Menu */
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--clr-white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  box-shadow: var(--shadow-soft);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  border-bottom: 1px solid var(--clr-border-light);
  padding: var(--small-space);
  transition: background 0.3s ease;
}

.menu ul li a {
  display: block;
  color: var(--clr-text-dark);
  text-decoration: none;
  text-align: center;
}

.menu ul li:hover {
  background-color: var(--clr-decor-bg);
}

/* Show menu when toggled */
#menu-toggle:checked ~ .menu {
  max-height: 500px; /* enough to show all links */
}

.hamburger span {
  transform-origin: center;
}
#menu-toggle:checked + .hamburger span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked + .hamburger span:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + .hamburger span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
/* Hero Section */
.hero {
  min-height: calc(100svh - 63px);
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  background-image: url("assests/Help/assets/landing.jpg");
  background-size: cover;
  background-position: center;
}

.hero p {
  max-width: 220px;
  text-align: center;
}

/* feature section */
.features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.feature-card {
  display: grid;
  place-items: center;
  max-width: 300px;
  text-align: center;
}

/* services */

.special-text {
  margin-bottom: var(--space-section);
}

.special-text h2 {
  color: var(--clr-decor-bg);
  letter-spacing: -3px;
  line-height: 0.2 !important;
  text-align: center;
  line-height: 0;
  font-size: 3rem;
}

.special-text p {
  font-weight: 300;
  text-align: center;
  color: var(--clr-text-light-muted);
}

.services-content {
  display: grid;
  grid-template-areas:
    "card1 card2 photo"
    "card3 card4 photo";
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center;
}

/* توزيع الكروت */
.services-content .service:nth-child(1) {
  grid-area: card1;
}

.services-content .service:nth-child(2) {
  grid-area: card2;
}

.services-content .service:nth-child(3) {
  grid-area: card3;
}

.services-content .service:nth-child(4) {
  grid-area: card4;
}

/* الصورة */
.photo {
  width: 260px;
  grid-area: photo;
  position: relative;
  z-index: 2;
  display: block;
}

.photo::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 90px);
  top: -50px;
  left: 200px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.service {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 400px;
  gap: var(--small-gap);
}
.icon {
  width: 30px;
}
.features-icon {
  width: 40px;
}

.features h3 {
  padding: var(--x-small-gap) 0;
}

@media (max-width: 768px) {
  .features,
  .services-content,
  .portfolio-content {
    gap: var(--mobile-gap);
  }
}

@media (min-width: 769px) and (max-width: 1150px) {
  .photo {
    display: none;
  }
  .photo::before {
    display: none;
  }
  .services-content {
    display: grid;
    grid-template-areas:
      "card1 card2"
      "card3 card4";
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media (max-width: 768px) {
  .photo img {
    display: none;
  }
  .photo {
    display: none;
  }
  .photo::before {
    display: none;
  }
  .services-content {
    display: grid;
    grid-template-areas:
      "card1" "card2"
      "card3" "card4";
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .service {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 350px;
    place-items: center;
    text-align: center;
  }
}

.services h3,
.portfolio h3,
.dark {
  margin-bottom: var(--x-small-gap);
}
/* portfolio */

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--small-gap);
}
.portfolio-card {
  max-width: 380px;
}
.portfolio-info {
  padding: var(--small-space);
  background-color: var(--clr-white);
}

.about-content {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
}
.about-text {
  display: grid;
  max-width: 600px;
  gap: var(--small-gap);
}
.about h3 {
  line-height: 1.6;
}
.about-photo img {
  position: relative;
  width: 250px;
  height: 375px;
}
.about-photo {
  position: relative;
}
.about-photo::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about-photo::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 185px;
  height: 386px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -124px;
}
.about-content p {
  line-height: 2;
}

hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
@media (max-width: 768px) {
  .about-content {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    position: relative;
    text-align: center;
  }
  .about-photo::after,
  .about-photo::before {
    display: none;
  }

  .about-photo {
    margin-bottom: var(--small-gap);
  }

  hr {
    width: 50%;
    margin: 30px auto;
    border-color: var(--main-color);
  }
}
/* Contact */

.contact-content {
  display: grid;
  place-items: center;
  text-align: center;
}
.dark {
  color: var(--secondary-color);
  letter-spacing: -2px;
  font-size: 1.2rem;
}
.green {
  display: block;
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.1rem;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links img {
  width: 10px;
  height: 10px;
  margin-left: 2px;
}
.links-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links p {
  display: flex;
  justify-content: center;
  font-size: 0.7rem;
  margin-right: 2px;
}
/* footer */
footer {
  background-color: var(--secondary-color);
  color: var(--clr-white);
  text-align: center;
  padding: var(--small-space);
}
footer span {
  color: var(--main-color);
  font-weight: 900;
}
