:root {
  /* Brand */
  --main-color: #10cab7;
  --secondary-color: hsl(200, 32%, 25%);

  /* Background */
  --clr-white: #ffffff;
  --clr-section-bg: #f6f6f6;
  --clr-hover-bg: #f0f0f0;
  --clr-decor-bg: #ebeced;

  /* Text */
  --clr-text-dark: #333333;
  --clr-text-muted: #777777;
  --clr-text-light-muted: #797979;

  /* Border */
  --clr-border-light: #eeeeee;

  /* Shadow */
  --shadow-soft: 0 4px 10px rgba(0, 0, 0, 0.11);
  --mobile-shadow: 0px 20px 20px 0px #00000015;
  --main-duration: 0.5s;

  /* Font Sizes */
  --fs-hero: clamp(2.2rem, calc(5vw + 2rem), 3.125rem);
  --fs-section-title: clamp(1.8rem, calc(5vw + 2rem), 3rem);
  --fs-large: clamp(1.2rem, 1.3rem, 1.4rem);
  --fs-body: clamp(0.9rem, 1.1rem, 1.1rem);

  /* Spacing */
  --space-section: clamp(2rem, 5vw, 4rem);
  --space-gap: clamp(1rem, 3vw, 2rem);
  --small-space: clamp(1rem, 1.1rem, 1.3rem);
  --small-gap: 1rem;
  --x-small-gap: 0.5rem;
  --mobile-gap: 3.5rem;
}

/* Clean Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #18e6d1;
    --clr-white: #0b0b0d;
    --clr-section-bg: #0f0f11;
    --clr-hover-bg: #161616;
    --clr-decor-bg: #222426;
    --clr-card-bg: #131417;
    --clr-text-dark: #eef4f4;
    --clr-text-muted: #b6c0c0;
    --clr-text-light-muted: #9aa3a3;
    --clr-border-light: #2a2a2a;
    --shadow-soft: 0 6px 25px rgba(0, 0, 0, 0.6);
    --mobile-shadow: 0 12px 28px rgba(0, 0, 0, 0.55);
  }
  body {
    background-color: var(--clr-white);
    color: var(--clr-text-dark);
  }

  header {
    background-color: var(--clr-section-bg);
    box-shadow: none;
  }

  .hero p {
    color: var(--clr-card-bg);
  }

  .menu {
    background-color: var(--clr-section-bg);
  }

  footer {
    color: #cacaca !important;
    background-color: #070707 !important;
  }

  footer a {
    color: #cacaca !important;
  }

  input,
  textarea,
  button {
    background-color: var(--clr-card-bg);
    color: var(--clr-text-dark);
    border: 1px solid var(--clr-border-light);
  }

  .photo::before {
    background-color: var(--clr-decor-bg);
  }

  a:hover,
  .support a:hover {
    color: var(--main-color) !important;
  }
}

/* untilities */
.features,
.portfolio,
.contact {
  background-color: var(--clr-section-bg);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: var(--space-section) 0;
}

.features .container,
.portfolio-content {
  justify-content: space-around;
}
.portfolio-card,
.features .card,
.about-text,
.service p {
  max-width: 400px;
}

h1 {
  font-weight: 900;
  font-size: var(--fs-hero);
  color: var(--main-color);
}

h2 {
  font-weight: 800;
  font-size: var(--fs-section-title);
}

h3 {
  font-weight: 700;
  font-size: var(--fs-large);
}

p {
  font-weight: 400;
  line-height: 1.8;
  font-size: var(--fs-body);
}

.features .card p,
.portfolio-card p,
.about-content p {
  color: var(--clr-text-muted);
}
.portfolio-card {
  padding: 0 var(--x-small-gap);
}
.services-text p {
  color: var(--clr-text-dark);
}

.accent {
  color: var(--main-color);
}
.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.skip-link:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  background: #fff;
  padding: 0.5rem;
  z-index: 9999;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* ===== Header ===== */

header {
  background-color: var(--clr-white);
  position: relative;

  box-shadow: var(--shadow-soft);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--small-space);
}
/* Logo */
header img {
  width: 70px;
}

/* Base menu styles for desktop */
.menu {
  display: flex;
  position: static;
  width: auto;
  background-color: transparent;
  max-height: none;
  overflow: visible;
  box-shadow: none;
}

.menu ul {
  display: flex;
  gap: var(--small-gap);
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ul li {
  border: none;
  padding: 0;
  transition: background 0.3s ease;
  border-radius: 25px;
}

.menu ul li a {
  display: block;
  color: var(--clr-text-dark);
  text-decoration: none;
  text-align: center;
  padding: var(--x-small-gap);
}

.menu ul li:hover {
  background-color: var(--clr-decor-bg);
}

/* Hamburger hidden on desktop */
.hamburger {
  display: none;
}
.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--clr-text-dark); /* اللون ثابت */
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center; /* عشان دوران الخطوط يكون من المنتصف */
}
#menu-toggle {
  display: none;
}
/* Media Query for mobile */

/* Hero Section */
.hero {
  min-height: calc(100svh - 63px);
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  background-image: url("assests/Help/assets/landing.jpg");
  background-size: cover;
  background-position: center;
}

.hero p {
  max-width: 320px;
  text-align: center;
}

/* feature section */
.features .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.features .card {
  text-align: center;
  padding: var(--space-gap) 0;
}

/* services */

.section-header {
  margin-bottom: var(--space-section);
  grid-column: 1 / -1;
}

.section-header h2 {
  color: var(--clr-decor-bg);
  letter-spacing: -3px;
  line-height: 0.2;
  text-align: center;
}

.section-header p {
  font-weight: 300;
  text-align: center;
  color: var(--clr-text-light-muted);
}

.services-content {
  display: grid;
  grid-template-areas:
    "card1 card2 photo"
    "card3 card4 photo";
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  place-content: center;
}

/* توزيع الكروت */
.services-content .service:nth-child(1) {
  grid-area: card1;
}

.services-content .service:nth-child(2) {
  grid-area: card2;
}

.services-content .service:nth-child(3) {
  grid-area: card3;
}

.services-content .service:nth-child(4) {
  grid-area: card4;
}

/* الصورة */
.photo {
  width: 260px;
  grid-area: photo;
  position: relative;
  z-index: 2;
  display: block;
}

.photo::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 90px);
  top: -50px;
  left: 200px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.service {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 400px;
  gap: var(--small-gap);
}
.icon {
  width: 30px;
  font-size: 1.25rem;
  vertical-align: middle;
  color: var(--main-color);
}

.features h3 {
  padding: var(--space-gap) 0 0 0;
}

.services h3,
.portfolio h3,
.dark {
  margin-bottom: var(--x-small-gap);
}
/* portfolio */

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--small-gap);
}

.portfolio-info {
  padding: var(--small-space);
  background-color: var(--clr-white);
}

.about-content {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
}
.about-text {
  display: grid;
  gap: var(--small-gap);
}
.about h3 {
  line-height: 1.6;
}
.about-photo img {
  position: relative;
  width: 250px;
  height: 375px;
}
.about-photo {
  position: relative;
}
.about-photo::before {
  content: "";
  position: absolute;
  background-color: var(--clr-decor-bg);
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about-photo::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 185px;
  height: 386px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -124px;
}
.about-content p {
  line-height: 2;
}

hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

/* Contact */

.contact .container {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  gap: var(--space-gap);
  padding: var(--space-section);
}

.contact-content {
  display: grid;
  place-items: center;
  text-align: center;
}

form {
  display: grid;
  gap: var(--small-space);
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

input,
button[type="submit"],
textarea {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: var(--x-small-gap);
  background-color: var(--clr-hover-bg);
  color: var(--clr-text-dark);
}

input:focus,
textarea:focus {
  background-color: var(--clr-card-bg);
  border: 1px solid var(--clr-border-light);
}

textarea {
  grid-column: 1 / -1;
  min-height: 120px;
  max-height: 350px;
  resize: vertical;
}
input[type="email"],
button[type="submit"] {
  grid-column: 1 / -1;
}
button[type="submit"] {
  font-weight: 900;
  transition: var(--main-duration);
  margin-bottom: var(--small-space);
  color: var(--clr-text-muted);
  background-color: var(--clr-border-light);
}

button[type="submit"]:hover {
  background-color: var(--main-color);
  color: var(--clr-white);
}

.links-ul {
  display: flex;
}

.links p {
  display: flex;
  font-size: 0.7rem;
  margin-right: 2px;
}
/* footer */
footer {
  background-color: var(--secondary-color);
  color: var(--clr-white);
}

footer .container {
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-areas: "icons support" "copyright copyright";
  padding: var(--x-small-gap);
}

footer span {
  color: var(--main-color);
  font-weight: 900;
}

.link {
  color: var(--secondary-color);
}

.links-ul a {
  padding: 0 var(--x-small-gap);
}

.support a {
  padding: 0 var(--x-small-gap);
  transition: var(--main-duration);
  color: var(--clr-border-light);
  font-size: var(--fs-body);
}

.support a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.direct-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-gap);
}

.project-photo {
  position: relative;
}

.photo-card {
  position: relative;
  overflow: hidden;
}
.photo-card .eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 48px;
  height: 48px;
}
.photo-card:hover .eye {
  display: block;
}

.project-photo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  background: linear-gradient(90deg, #00ff00, #008000);
  border-radius: 50%;
  z-index: 1;
}
.support {
  grid-area: support;
  display: flex;
}
footer p {
  grid-area: copyright;
  width: 100%;
  border-top: 1px solid var(--clr-border-light);
  padding: var(--space-gap);
}
.links-ul {
  grid-area: icons;
  padding: var(--space-gap);
}
footer hr {
  width: 100%;
}
.features .icon {
  font-size: 2rem;
}

.portfolio-card {
  position: relative;
}

.contact-card {
  padding: var(--small-gap);
  display: flex;
  align-items: baseline;
  gap: var(--small-gap);
}

.contact-card i {
  flex-shrink: 0;
}

.contact-text p {
  color: var(--clr-text-light-muted);
}

/* media */

@media (min-width: 769px) and (max-width: 1150px) {
  .photo {
    display: none;
  }

  .services-content {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
@media (max-width: 768px) {
  .features .container,
  .services-content,
  .portfolio-content {
    gap: var(--mobile-gap);
  }
  .services-content {
    grid-template-areas:
      "card1" "card2"
      "card3" "card4";
    grid-template-columns: repeat(1, 1fr);
  }
  form {
    grid-template-columns: repeat(1, 1fr);
  }

  .service {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }
  .about-content {
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    position: relative;
    text-align: center;
  }
  .photo,
  .photo::before,
  .about-photo::after,
  .about-photo::before {
    display: none;
  }

  .about-photo {
    margin-bottom: var(--small-gap);
  }

  hr {
    width: 50%;
    margin: 30px auto;
  }
  footer .container {
    grid-template-areas: "support" "icons" "copyright";
    gap: var(--space-gap);
  }

  footer p {
    grid-area: copyright;
    font-size: 1rem;
  }
  .support {
    display: grid;
    gap: var(--space-gap);
    padding: var(--space-gap) 0 0 0;
  }
  /* Show hamburger on mobile */
  .contact-card {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 2;
  }
  .contact .container {
    grid-template-columns: 1fr;
  }
  /* Mobile menu */
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--clr-white);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    box-shadow: var(--mobile-shadow);
    flex-direction: column;
  }

  .menu ul {
    flex-direction: column;
    gap: 0;
  }

  .menu ul li {
    border-bottom: 1px solid var(--clr-border-light);
    padding: var(--small-space);
    border-radius: 0;
  }

  /* Show menu when toggled */
  #menu-toggle:checked ~ .menu {
    max-height: 500px;
  }

  /* Hamburger animation */
  #menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  #menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
